@use 'utils/utils' as *;
@use 'utils/variables' as *;

:host {
  background-color: #fff;
}

mat-toolbar {
  display: flex;
  justify-content: space-between;
}

form {
  display: flex;
  flex-direction: column;
  margin: $fb-gutter-size;

  footer {
    display: flex;
    justify-content: space-between;
    margin-top: 2 * $fb-gutter-size;
  }
}
