<section class="wrap" fbNoDrag>
  <form class="format-form">
    <mat-form-field>
      <mat-label>Input format</mat-label>
      <input type="text" aria-label="Input format" matInput
        [formControl]="inputFormatControl" [matAutocomplete]="autoIn">
      <mat-autocomplete #autoIn="matAutocomplete">
        @for (option of types; track option) {
          <mat-option [value]="option">
            {{option}}
          </mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Output format</mat-label>
      <input type="text" aria-label="Output format" matInput
        [formControl]="outputFormatControl" [matAutocomplete]="autoOut">
      <mat-autocomplete #autoOut="matAutocomplete">
        @for (option of types; track option) {
          <mat-option [value]="option">
            {{option}}
          </mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>
  </form>

  <!-- CodeMirror 6 mounts into this element and reports edits through its own
  updateListener. -->
  <div #code class="code"></div>

  <div class="errors">
    @if (hasCompileError) {
      <span>Could not compile the code</span>
    }
    @if (hasRuntimeError && !hasCompileError) {
      <span>Runtime error occured</span>
    }
    @if (!hasCompileError && !hasRuntimeError) {
      <span>&nbsp;</span>
    }
  </div>
</section>
