@use 'utils/utils' as *;

canvas {
  cursor: default;
  @include fb-size(400px);
}

.canvas-wrapper {
  position: relative;
}

.fractal,
.zoom,
.xmax-xmin {
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  padding: 3px;
  position: absolute;
  z-index: 100;
}

.zoom {
  left: 5px;
  top: 55px;
}

.xmax-xmin {
  left: 5px;
  top: 30px;
}

.fractal {
  left: 5px;
  top: 5px;
}
