<mat-toolbar color="primary">
  <span>Component selection</span>
</mat-toolbar>

<section class="type-selection">
  <mat-form-field class="search">
    <mat-label>Search flow units</mat-label>
    <input matInput type="search" autocomplete="off" cdkFocusInitial
           [ngModel]="query" (ngModelChange)="onQuery($event)" (keyup.enter)="onEnter()">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>

  <mat-list>
    <mat-list-item *ngFor="let key of flowKeys">
      <button type="button" mat-button (click)="onSelection(key)">{{title(key)}}</button>
    </mat-list-item>
  </mat-list>

  <p *ngIf="!flowKeys.length" class="no-matches">No flow unit matches &ldquo;{{query}}&rdquo;.</p>
</section>
