@import 'utils/utils';

:host {
  background-color: lightgray;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 4px;
  pointer-events: none;
  width: 72px;
}

img {
  width: 100%;
}

.title {
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 14px;
  text-align: center;
  transform: translateX(-50%);
  width: 300px;
  @include fb-position(absolute, 0 0 -34px 50%);
}
