@import 'utils/utils';

:host {
  display: block;
  pointer-events: none;
  width: 60px;
}

img {
  width: 100%;
}

.title {
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 14px;
  text-align: center;
  transform: translateX(-50%);
  width: 300px;
  @include xxl-position(absolute, 0 0 -34px 50%);
}
