@import 'utils/trigonometry';

:root {
  --fb-gutter-size: 16px;

  font-family: 'Source Code Pro', monospace;

  *:focus {
    outline: none;
  }
}

fb-root {
  background-color: #000;
}

.cdk-overlay-container mat-dialog-container {
  overflow: visible;
}

.dark-backdrop {
  background-color: rgba(0, 0, 0, 0.8);
}

.add-socket-dialog mat-dialog-container {
  padding: 0;
}

@keyframes create {
  0% {
    background-color: #ff4081;
    border-radius: 50%;
  }

  100% {
    background-color: #000;
    border-radius: 3px;
  }
}
