@import 'utils/trigonometry';

* {
  font-family: 'Source Code Pro', monospace;
}

fb-root {
  background-color: #000;
}

xxl-block {
}

@keyframes create {
  0% {
    border-radius: 50%;
    background-color: #ff4081;
  }
  100% {
    border-radius: 3px;
    background-color: #000;
  }
}
