<img *ngIf="!active" src="/assets/config.svg">

<ng-container *ngIf="active">
  <button mat-fab class="add-socket socket-in" (click)="openDialog({type: 'in'})">+</button>
  <button mat-fab class="add-socket socket-out" (click)="openDialog({type: 'out'})">+</button>

  <footer>
    <button mat-button color="warn" (click)="onDelete()">
      <mat-icon>delete_forever</mat-icon>
    </button>

    <button mat-button (click)="onClose()">Close</button>
  </footer>
</ng-container>
<!--<h1 *ngIf="title" class="title">{{title}}</h1>-->
