<fb-normal-node *ngIf="worker">
  <p class="minified">{{value}}</p>

  <section class="expanded">
    <article>
      <div class="wrapper-current">
        <mat-card class="current">
          <mat-card-title>Current value</mat-card-title>
          <mat-card-content>{{value}}</mat-card-content>
        </mat-card>
        <mat-card class="total">
          <mat-card-title>Values received</mat-card-title>
          <mat-card-content>{{worker.count}}</mat-card-content>
        </mat-card>
      </div>

      <mat-card class="history">
        <mat-card-title>History</mat-card-title>
        <mat-card-content *ngIf="worker.history">
          <span *ngFor="let val of worker.history">{{val}}</span>
        </mat-card-content>
      </mat-card>
    </article>
  </section>
</fb-normal-node>
