:host {
  align-items: center;
  justify-content: center;
  display: inline-flex;
  min-width: 72px;
  min-height: 72px;

  img {
    pointer-events: none;
    width: 60px;
  }
}

.title {
  background-color: rgba(0, 0, 0, .2);
  position: absolute;
  width: 300px;
  bottom: -34px;
  font-size: 14px;
  text-align: center;
  color: #fff;

  transform: translateX(-50%);
  text-align: center;
  left: 50%;
}
