@import 'utils/utils';

:host {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  min-height: 72px;
  min-width: 72px;

  img {
    pointer-events: none;
    width: 60px;
  }
}

.title {
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 14px;
  text-align: center;
  transform: translateX(-50%);
  width: 300px;
  @include xxl-position(absolute, 0 0 -34px 50%);
}
