<fb-normal-node [fullscreen]="true" (edit)="onEdit($event)" (maxSize)="onMaxSize($event)">
  <fb-default-front [title]="title"></fb-default-front>

  <section class="main">
    <section class="inputs">
      <ng-container *ngFor="let socket of state.sockets | socketIn" class="socket">
        <mat-card #inputs *ngFor="let val of streamValues[socket.id]" [attr.data-socket-id]="socket.id" class="socket">
          <mat-card-content>{{val !== undefined ? val.toFixed(3) : ''}}</mat-card-content>
        </mat-card>
      </ng-container>
    </section>

    <div #output class="output">
      <mat-card #socketOut class="socket">
        <mat-card-content>{{value}}</mat-card-content>
      </mat-card>
    </div>
  </section>
</fb-normal-node>
