<fb-normal-node>
  <section class="minified">
    <fb-default-front [title]="title"></fb-default-front>
  </section>

  <section class="expanded">
    <ngx-codemirror class="fb-drag-ignore"
      (keyup)="onKeyDown()"
      [(ngModel)]="func"
      [options]="{
        lineNumbers: true,
        theme: 'material',
        mode: 'javascript'}"></ngx-codemirror>

    <div class="errors">
      <span *ngIf="hasCompileError">Could not compile the code</span>
      <span *ngIf="hasRuntimeError">Runtime error occured</span>
      <span *ngIf="!hasCompileError && !hasRuntimeError">&nbsp;</span>
    </div>
  </section>
</fb-normal-node>
