@import 'utils/utils';

:host {
  .expanded {
    background-color: #fff;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    padding: 10px 20px;
  }
}

.code {
  width: 400px;
}

.errors {
  color: #f00;
  text-align: center;
}

fb-normal-node {
  &:not(.is-active) {
    .expanded {
      display: none;
    }
  }

  &.is-active {
    .minified {
      display: none;
    }
  }
}
