@import '../../../../projects/flow-based/src/lib/utils/utils';

:host {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 150px;

  &.is-active {
    width: 500px;
  }
}

.minified {
  text-align: center;
}

.expanded {
  background-color: #fff;

  .wrapper {
    display: flex;
    padding: 8px;

    .values {
      display: flex;
      flex: 1;
      flex-direction: column;
      height: 300px;

      mat-card-content {
        display: flex;
        flex-direction: column;

        .value {
          font-size: 30px;
          padding-top: 8px;
        }
      }
    }

    .distribution {
      flex: 2;
      height: 300px;
      margin-left: 8px;

      .column-width {
        align-items: center;
        display: flex;
        justify-content: center;

        mat-slider {
          margin: 0 8px;
        }
      }
    }
  }

  footer {
    display: flex;
    justify-content: space-between;

    .close {
      color: #000;
    }
  }
}
