<section *ngIf="!isActive" class="minified">
  <p>Min: {{min}}</p>
  <p>Max: {{max}}</p>
</section>

<section *ngIf="isActive" class="expanded">
  <mat-toolbar color="primary">
    <span>Statistics</span>
  </mat-toolbar>

  <div class="wrapper">
    <mat-card class="values">
      <mat-card-content>
        <span>Max value</span>
        <span class="value">{{max}}</span>
      </mat-card-content>
      <mat-card-content>
        <span>Min value</span>
        <span class="value">{{min}}</span>
      </mat-card-content>
      <mat-card-content>
        <span>Average value</span>
        <span class="value">{{avg}}</span>
      </mat-card-content>

      <button mat-stroked-button (click)="onReset()">Reset</button>
    </mat-card>

    <mat-card class="distribution">
      <mat-card-title>Distribution</mat-card-title>
      <mat-card-content>
      <div #distribution></div>
        <div class="column-width">
          <span>Column width: </span>
          <mat-slider min="0" max="10" step=".1" [(ngModel)]="worker.columnWidth"></mat-slider>
          <span>{{worker.columnWidth}}</span>
        </div>
    </mat-card-content>
    </mat-card>
  </div>

  <footer>
    <button mat-button color="warn" (click)="onDelete()">
      <mat-icon>delete_forever</mat-icon>
    </button>

    <button mat-button (click)="onClose()" class="close">Close</button>
  </footer>
</section>
