@import '../../../../projects/flow-based/src/lib/utils/utils';

:host {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 167px;

  &.is-active {
    width: 500px;
  }
}

.minified {
  margin: 4px 4px 6px;

  div {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  div ~ div {
    margin-top: 8px;
  }

  .label {
    flex: 0 0 40px;
  }

  .value {
    flex: 0 0 80px;
  }

  svg {
    flex: 0 0 40px;
  }
}

.expanded {
  background-color: #fff;

  .wrapper {
    display: flex;
    padding: 8px;

    .values {
      display: flex;
      flex: 1;
      flex-direction: column;
      height: 300px;

      mat-card-content {
        display: flex;
        flex-direction: column;

        .value {
          font-size: 30px;
          padding-top: 8px;
        }
      }
    }

    .distribution {
      flex: 2;
      height: 300px;
      margin-left: 8px;

      .column-width {
        align-items: center;
        display: flex;
        justify-content: center;

        mat-slider {
          margin: 0 8px;
        }
      }
    }
  }

  footer {
    display: flex;
    justify-content: space-between;

    .close {
      color: #000;
    }
  }
}
