:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  position: relative;
  z-index: 100;
}

.bg {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -2;
  //filter: blur(5px);
  filter: brightness(20%);
}

fb-thunder {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  filter: blur(2px);
}

header {
  align-items: center;
  background-color: #0D025D;
  display: flex;
  flex: 0 0 50px;
  justify-content: center;
  padding: 0 16px;
  position: relative;

  .add {
    position: absolute;
    left: 16px;
  }

  h1 {
    color: #fff;
  }
}

main {
  flex: 1;

  xxl-flow-based {
    // border: 3px solid lightgray;
    border-radius: 3px;
  }
}

fb-context-menu  {
  position: absolute;
}

.bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

// dialog
.block-list {
  padding: 20px;

  .list-item + .list-item {
     margin-top: 5px;
  }
}
