<section *ngIf="!isActive">
  <fb-default-front [title]="title"></fb-default-front>
</section>

<section *ngIf="isActive" class="config">
  <mat-toolbar color="primary">
    <span>Configuration</span>
  </mat-toolbar>

  <form [formGroup]="configForm">
    <label>
      <span>Start</span>
      <mat-slider min="worker.min" max="worker.max" step=".1"
                  [thumbLabel]="true"
                  formControlName="startValue"></mat-slider>
    </label>

    <label>
      <span>End</span>
      <mat-slider min="worker.min" max="worker.max" step=".1"
                  [thumbLabel]="true"
                  formControlName="endValue"></mat-slider>
    </label>
  </form>
</section>
