@import 'utils/utils';

:host {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  min-height: 72px;
  min-width: 72px;
}

.config {
  background-color: lightgray;
  border-radius: 8px;
  padding: 10px;
}

