@import 'utils/utils';

:host {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  min-height: 72px;
  min-width: 72px;
}

footer {
  display: flex;
  justify-content: space-between;
}

.config {
  background-color: #fff;
  min-width: 300px;

  form {
    display: flex;
    flex-direction: column;
    padding: var(--fb-gutter-size);

    label span {
      display: inline-flex;
      width: 70px;
    }
  }
}

