@import '../../../../../projects/flow-based/src/lib/utils/utils';
@import '../../../../../projects/flow-based/src/lib/utils/variables';

:host {
  mat-list-item {
    height: 80px;
    margin: 32px 0;
    position: relative;
  }

  .delete {
    transform: translate(-100%, -50%);
    @include xxl-position(absolute, 50% 0 0 0px);
  }

  &.align-delete-right .delete {
    left: unset;
    right: 0;
    transform: translate(100%, -50%);
  }

  footer {
    display: flex;
    justify-content: space-between;
  }

  ::ng-deep xxl-flow-unit {
    display: none;
  }
}
